@model IEnumerable<Warehouse>

@{
    ViewData["Title"] = " | Manage Warehouses";
}

<h1 class="mb-2">Manage Warehouses</h1>

<h5 class="mt-2"><a asp-action="Add" asp-area="Manager">Add a Warehouse</a></h5>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr><th>GenreId</th><th>Name</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (Warehouse warehouse in Model)
        {
            <tr>
                <td>@warehouse.GenreId</td>
                <td>@warehouse.Name</td>
                <td>
                    <a asp-action="ViewBooks" asp-area="Manager" asp-route-id="@warehouse.GenreId"
                        class="btn btn-primary">View Products</a>
                    <a asp-action="Edit" asp-area="Manager" asp-route-id="@warehouse.GenreId"
                        class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-area="Manager" asp-route-id="@warehouse.GenreId"
                        class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



