@model Category

@{


    var action = ViewContext.RouteData.Values["action"].ToString().Capitalize();

    ViewData["Name"] = $" | {action} Warehouse";
}

<h1>@action Category</h1>

<form asp-action="@action" asp-area="Manager" method="post">

    @* Category ID needed by both delete and edit *@
    <input type="hidden" asp-for="CategoryId" />

    @* Operation field needed by remote validation *@
    <input type="hidden" name="Operation" value="@action" />

    @* if deleting, just display full name, but include first and last
        name in hidden fields so can be used to display delete message.
        Otherwise, provide text boxes for first and last name. *@
    @if (Operation.IsDelete(action))
    {
            <div class="col-sm-4"><label>@Model.Name</label></div>
            <input type="hidden" asp-for="Name" />

    }
    else
    {
            <div class="form-group row">
                <div class="col-sm-2"><label>Name:</label></div>
                <div class="col-sm-4">
                    <input type="text" asp-for="@Model.Name" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
            </div>

    }

    <div class="row">
        <div class="col-sm-4 offset-sm-2">
            <button type="submit" class="btn btn-primary btn-sm">@action</button>
            <a asp-action="Index" class="btn btn-primary btn-sm">Cancel</a>
        </div>
    </div>
</form>