@model IEnumerable<Category>

@{
    ViewData["Name"] = " | Manage Categories";
}

<h1 class="mb-2">Categories</h1>

<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr><th>CategoryId</th><th>Name</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (Category warehouse in Model)
        {
            <tr>
                <td>@warehouse.CategoryId</td>
                <td>@warehouse.Name</td>
                <td>
                    <a asp-action="ViewProducts" asp-area="Manager" asp-route-id="@warehouse.CategoryId"
                        class="btn btn-primary btn-sm">View Products</a>
                    <a asp-action="Edit" asp-area="Manager" asp-route-id="@warehouse.CategoryId"
                        class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Delete" asp-area="Manager" asp-route-id="@warehouse.CategoryId"
                        class="btn btn-primary btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



