@model AllProducts

@{
    ViewData["Name"] = " | Search Results";
}

<div class="row">
    <div class="col">
        <h1 class="mb-2">@Model.Header</h1>
    </div>
    <div class="col">
        <div class="float-right pr-2">
            <a asp-action="List">New Search</a>
        </div>
    </div>
</div>

<table class="table">
    <tbody>
        @foreach (var product in Model.Products)
        {
                <tr>
                    <td>
                        <a asp-action="Details" asp-controller="Product"
                           asp-area="" asp-route-id="@product.ProductId"
                           asp-route-slug="@product.Name.Slug()">@product.Name</a>
                    </td>
                    <td>@product.Warehouse.Name</td>
                    <td>
                    @foreach (ProductCategory ba in product.ProductCategories)
                    {
                                    <div>@ba.Category.Name</div>
                    }
                    </td>
                    <td>
                        <div class="float-right">
                            <a asp-action="Edit" asp-route-id="@product.ProductId"
                               class="btn btn-primary btn-sm ">Edit</a>
                            <a asp-action="Delete" asp-route-id="@product.ProductId"
                               class="btn btn-primary btn-sm">Delete</a>
                        </div>
                    </td>
                </tr>
        }
    </tbody>
</table>
