@model IEnumerable<Warehouse>

@{
	ViewData["Name"] = " | Manage Warehouses";
}

<h1 class="mb-2">Manage Warehouses</h1>

<h5 class="mt-2"><a asp-action="Add" asp-area="Admin">Add a Warehouse</a></h5>

<table class="table">
    <thead>
        <tr><th>WarehouseId</th><th>Name</th><th></th></tr>
    </thead>
    <tbody>
        @foreach (Warehouse warehouse in Model)
		{
				<tr>
					<td>@warehouse.WarehouseId</td>
					<td>@warehouse.Name</td>
					<td>
						<a asp-action="ViewProducts" asp-area="Admin" asp-route-id="@warehouse.WarehouseId"
							class="btn btn-primary btn-sm">View Products</a>
						<a asp-action="Edit" asp-area="Admin" asp-route-id="@warehouse.WarehouseId"
							class="btn btn-primary btn-sm">Edit</a>
						<a asp-action="Delete" asp-area="Admin" asp-route-id="@warehouse.WarehouseId"
							class="btn btn-primary btn-sm">Delete</a>
					</td>
				</tr>
		}
	</tbody>
</table>



